.add-note {
  border: 1px solid grey;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

label {
  display: block;
  padding-bottom: 20px;
  padding-top: 10px;
}

input {
  padding-bottom: 20px;
}
