button.focus,
button:focus {
  outline: 0;
  box-shadow: none;
}

.Add-note-button {
  font-size: 15px;
  margin-bottom: 25px;
  border-radius: 50%;
  text-decoration: none;
  border: 1px solid black;
  height: 60px;
  padding: 5px;
  margin-top: 10px;
  position: relative;
  left: 150px;
}
